<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Journey Planner | Dublin Bikes</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/dbbikeslogo.svg') }}" type="image/svg+xml">
    
    <!-- Global CSS and Global Script Imports -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global/footer.css') }}">
    <script defer type="module" src="{{ url_for('static', filename='js/user-system.js') }}"></script>

    <!-- Local CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">

    <!-- Local Script Imports -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFdzfzeBk3A8ASwoklDgw2HG4n6ewF4Iw&v=beta&libraries=geometry"></script>
    <script defer type="module" src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script defer type="module" src="{{ url_for('static', filename='js/predict-availability.js') }}"></script>

    <!-- Doing this solves a jinja template and dynamic insertion issue -->
    <script>
      // Using Jinja to generate the URL for the bike icon:
      const bikeIcon = "{{ url_for('static', filename='assets/bike_icon.svg') }}";
      const parkingIcon = "{{ url_for('static', filename='assets/parking_icon.png') }}";
    </script>
  </head>

  <body>
    <!-- Header -->
    {% include 'global/header.html' %}

    <div id = 'map'>
      <div class = 'marker'></div>
    </div>

    <div id = 'locationWindow'>
      <div id = 'windowContent'></div>
      <div id='predictionContent'>
        <h3>Availability Prediction</h3>

          <label for="station_id">Destination:
            <input type="text" id="station_id_visible" placeholder="Plan a journey Above" required readonly>
            <input type="hidden" name="station_id" id="station_id">
          </label>

          <label for="date">Date:<input type="date" id="date" required></label>
          <label for="time">Time:<input type="time" id="time" required></label>
          <button id="predictButton">Predict</button>

    <div id="result"></div>
      </div>
    </div>
    
    <!-- Footer -->
    {% include 'global/footer.html' %}
  </body>
</html>