<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <link rel="icon" href="./#.ico" type="images/x-icon">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFdzfzeBk3A8ASwoklDgw2HG4n6ewF4Iw&v=beta&libraries=geometry"></script>
    <script defer type="module" src="{{ url_for('static', filename='js/map.js') }}"></script>
  </head>

  <body>
    <div id = 'header'>
        <ul>
            <li><a id = 'logo1'></a></li>
            <li><a id = 'logo2'></a></li>
        <ul>
    </div>

    <div id = 'navigation'>
        <div id = 'navbar'>
            <ul>
                <li><a href = "{{ url_for('index') }}">Home</a></li>
                <li><a href = "{{ url_for('map_page') }}">Map</a></li>
                <li><a href = '#.html'>Subscriptions</a></li>
                <li><a href = '#.html'>How to</a></li>
            <ul>
        </div>
        <div class = 'clear'></div>
    </div>

    <div id = 'map'>
      <div class = 'marker'></div>
    </div>

    <div id = 'locationWindow'>
      <div id = 'windowContent'></div>
    </div>

    <main> 
    </main>
  </body>
</html>