<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plans & Pricing | Dublin Bikes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home/planspage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home/styles.css') }}">

</head>
<body>
    <header class="main-header ">
        <div class="header-inner container">
          <a href="{{ url_for('home') }}" class="logo-link">
            <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Dublin Bikes logo" class="logo-img" />
          </a>
  
          <nav class="main-nav">
            <a href="{{ url_for('ride') }}" class="nav-link">Ride Experience</a>
            <a href="{{ url_for('plans') }}" class="nav-link">Plans & Pricing</a>
            <a href="{{ url_for('explore') }}" class="nav-link">Explore Dublin</a>
            <a href="{{ url_for('journeyplan') }}" class="nav-link">Journey Planner</a>
            <a href="#" class="nav-link">Log In</a>
  
            <div class="join-button">
              <a href="#" class="btn">Join</a>
            </div>
  
            <div class="language-selector">
              <img src="{{ url_for('static', filename='assets/globe_icon.svg') }}" alt="globe" />
              <p>EN</p>
            </div>
  
          
          </nav>
          <button id="menuToggle" class="menu-toggle">
            <img src="{{ url_for('static', filename='assets/toggle-menu.svg') }}" alt="Menu" />
          </button>
        </div>
  
        <!-- Mobile Navigation -->
        <div class="mobile-nav container" id="mobileNav">
          <div class="mobile-header">
            <a href="#" class="logo-link">
              <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Dublin Bikes logo" class="logo-img" />
            </a>
  
            <div class="mobile-nav-right">
              <a href="#" class="btn">Join</a>
              <button id="closeMenu" class="close-menu">
                <img src="{{ url_for('static', filename='assets/close_menu.svg') }}" alt="Close" />
              </button>
            </div>
          </div>
  
          <ul class="mobile-links">
            <li><a href="{{ url_for('ride') }}" class="nav-link">Ride Experience</a></li>
            <li><a href="{{ url_for('plans') }}" class="nav-link">Plans & Pricing</a></li>
            <li><a href="{{ url_for('explore') }}" class="nav-link">Explore Dublin</a></li>
            <li><a href="#">Trip Planner</a></li>
            <li><a href="#">Log In</a></li>
          </ul>
  
          <div class="mobile-language">
            <img src="{{ url_for('static', filename='assets/globe_icon.svg') }}" alt="globe" />
            <p>EN</p>
          </div>
        </div>
      </header> 
    <main>
        <section class="container">
            <div class="pricing-header">
                <div class="pricing_header_content">
                    <h2>Plans & Pricing</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum praesentium ratione doloremque quam cum ipsum deserunt quod debitis eos? Rem, facere dolorum error ipsa quis at quae eum facilis laborum.</p>
                </div>
               
                    <div class="plans_wrapper">
                        <div class="plans">
                            
                                <div class="day_tickets one">
                                    <div class="ticket_content">
                                        <div class="ticket_header">
                                            <h3 class="info">1 day ticket</h3>
                                            <img src="{{ url_for('static', filename='assets/plans_image.png') }}" alt="">
                                        </div>
                                    <div class="ticket_features">
                                        <hr>
                                        <p>Helmet Included</p>
                                        <p>Free Basket Add-on</p>
                                        <hr>
                                    </div>
                                        <a href="{{ url_for('plans') }}" class="button btn">Select</a>
                                    </div>
                                   
                                </div>
                            
                          
                            <div class="day_tickets three">
                                
                                <div class="ticket_content">
                                    <div class="ticket_header">
                                        <h3 class="info">1 day ticket</h3>
                                        <img src="{{ url_for('static', filename='assets/plans_image.png') }}" alt="">
                                    </div>
                                    
                                    <div class="ticket_features">
                                        <hr>
                                        <p>Helmet & Lock Included</p>
                                        <p>Paid Maintenance Support</p>
                                        <hr>
                                    </div>
                                   
                                    <a href="{{ url_for('plans') }}" class="button btn">Select</a>
                                   
                                   
                                </div>
                            </div>
                          
                           
                            <div class="day_tickets annual">
                                
                                <div class="ticket_content">
                                    <div class="ticket_header">
                                        <h3 class="info">1 day ticket</h3>
                                        <img src="{{ url_for('static', filename='assets/plans_image.png') }}" alt="">
                                    </div>
                                    
                                    <div class="ticket_features">
                                    <hr>
                                    <p>Helmet & Lock Included</p>
                                    <p>Free Maintenance Checkup</p>
                                    <hr>
                                    </div>
                                    <a href="{{ url_for('plans') }}" class="button btn">Select</a>
                                </div>
                            </div>
                           
                           
                        </div>
                    </div>
            </div>
            
        </section>
    </main>
    
    
</body>
</html>